
{% assign link_list = include.link_list %}
{% assign collection_title = include.title | default: "" %}


{% if collection_title != "" %}
<h2 class="section-header">{{ collection_title }}</h2>
{% endif %}

<ul class="links">
    {% assign current_date = site.time | date: "%Y-%m-%d" %}

    {% assign valid_links = '' | split: '' %}

    {% for link in link_list %}
        {% if link.expires and link.expires != nil and link.expires != '' %}
            {% assign exp_date = link.expires | date: "%Y-%m-%d" %}
            {% if exp_date > current_date %}
                {% assign valid_links = valid_links | push: link %}
            {% endif %}
        {% else %}
            {% assign valid_links = valid_links | push: link %}
        {% endif %}
    {% endfor %}

    {% assign priorities = valid_links | sort: "priority" | group_by: 'priority'  %}

    {% for priority in priorities %}
        {% assign sorted_links = priority.items | sort: 'title' %}

        {% for link in sorted_links %}
            <li class="link" data-priority="{{ link.priority }}">
                <a href="{{ link.link }}">
                        <img src="{{ link.image | default: "/assets/link-default.svg" }}" class="link-logo" alt="{{ link.title }}"> </a>
                <a class="link-desc" href="{{ link.link }}">{{ link.title }}</a>
            </li>
        {% endfor %}
    {% endfor %}
</ul>
