@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Cabin:ital,wght@1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Rock+Salt&display=swap");

:root {
    --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

body {
    font-family: var(--base-font-family);
}

.subheads {
    font-family: "Cabin", helvetica, verdana, sans-serif;
    font-style: italic;
    font-size: 32px;
    text-align: center;
    margin: 0 0 1em 0;
}

.social-logo {
    height: 3.5em;
}

.link {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
}

.link-desc {
    flex: 1;
}

.link-logo {
    height: 1.5em;
    width: 1.5em;
    display: block;
    flex: 0;
}

.links {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

li.link {
    list-style: none;
    margin: 1em auto;
    min-width: 150px;
    max-width: 600px;
    background-color: var(--button-background);
    padding: 0.5em;
    border-radius: 1em;
    cursor: pointer;
    text-align: center;
}
