---
---

@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Cabin:ital,wght@1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Rock+Salt&display=swap");

:root {
    --base-font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
        helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    --body-background: #{{ site.linky.body_background | default "fa0616" }};
    --body-foreground: #f0f0f0;
    --button-background: #f16293;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--body-background);
    font-family: var(--base-font-family);
}

.wrapper {
    max-width: 640px;
    margin: 0 auto;
}

.subheads {
    font-family: Cabin, helvetica, verdana, sans-serif;
    font-style: italic;
    font-size: 32px;
    text-align: center;
    margin: 0 0 1em;
}

.socials {
    display: flex;
    margin: 1em 0 2em;
    padding: 0;
    list-style: none;
    column-gap: 2em;
    justify-content: center;
}

.social-logo {
    height: 3.5em;
}

.link {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
}

.link-desc {
    flex: 1;
}

.link-logo {
    height: 1.5em;
    width: 1.5em;
    display: block;
    flex: 0;
    border-radius: 0.75em;
}

.links {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

li.link {
    list-style: none;
    margin: 1em auto;
    min-width: 150px;
    max-width: 600px;
    background-color: var(--button-background);
    padding: 0.5em;
    border-radius: 1em;
    cursor: pointer;
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
}

.site-header {
    border: none;
    margin: 1em auto 0;
}

.page-content {
    padding-top: 0;
}

.page-content .instagram-media,
.page-content .tiktok-embed {
    display: block;
    width: 100%;
    max-width: 540px;
    min-width: 326px;
    margin: 1em auto;
}

.cite {
    font-style: italic;
}

a,
a:link,
a:visited,
a:active {
    color: var(--body-foreground);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 64px;
    font-family: "Cabin Sketch", Helvetica, Verdana, sans-serif;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
}

@media screen and (width >= 600px) {
    h1 {
        font-size: 120px;
    }
}
